/*CSS for other elements in the uw_ct_person_profile.css*/

/* Body */

.node-type-uwaterloo-custom-listing #content h1 {
  margin: .5em 0 0 0;
}
div.field.field-type-text-with-summary {
  clear: none;
}

.node-uwaterloo-custom-listing .content_node .field-name-field-anchor-entity-reference .field-items {
  padding-bottom: 0em;
}

.node-uwaterloo-custom-listing .content_node .field-items {
  padding-bottom: .25em;
}
